/*********************************************************************************/
/* Body Style                                                                    */
/*********************************************************************************/

	body
	{
		margin: 0px;
		padding: 0px;
		background: #b9b9b9;
		color: #000000;
		font-family: sans-serif;
	}

/*********************************************************************************/
/* Main Wrappers                                                                 */
/*********************************************************************************/

	#wrapper
	{
		background: #FFFFFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		overflow: hidden;
		height: 166px;
		width: 100%;
		background: #00f7ff;
	}

/*********************************************************************************/
/* Logo Bar                                                                      */
/*********************************************************************************/

	#logo_bar
	{
		height: 120px;
		width: 100%;
		text-align: center;
		background: #FFFFFF;
	}

	#logo_img
	{
		width: 150px;
		height: 75px;
		float: left;
		padding: 10px;
	}

	#logo_title
	{
		width: 30%;
		float: left;
		padding: 10px;
	}

	#logo_menu
	{
		float: right;
		padding: 10px;
	}

	#logo_menu .button_default ul
	{
		list-style-type: none;
		font-size: 16pt;
		padding: 0;
		margin: 10;
	}

	#logo_menu .button_default a
	{
		text-decoration: none;
	}


	#logo_menu .button_default
	{
		background: #ffffff;
		width: 160px;
		float: left;
		margin: 20px;
		border-radius: 50px;
		border-style: solid;
		border-width: 2px;
		border-color: #000000;
		color: #000000;
	}

	#logo_menu .button_donate
	{
		background: #ff0000;
	}

	#logo_menu .button_donate a
	{
		color: #ffffff;
	}

/*********************************************************************************/
/* Navbar                                                                        */
/*********************************************************************************/

	div.navbar
	{
		width: 100%;
		height: 46px;
		background-color: #280625;
	}

	ul.navbar
	{
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	li.navbar
	{
	    float: left;
			text-align: center;
			padding: 0 30 0 30;
			transition: all 0.3s ease-in-out;
	}

	li.navbar a
	{
	    display: inline-block;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}

	li.navbar:hover
	{
	    background-color: red;
	}

	a.navbar.current_page
	{
		color: #ffffff;
		text-decoration: underline;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

/*********************************************************************************/
/* Table Styles                                                                  */
/*********************************************************************************/

	.sponsor-grid td {
		text-align: center;
	}

	.sponsor-grid {
		padding-bottom: 20px;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		overflow: hidden;
		width: 75%;
		margin: 0px auto;
		padding-top: 10px;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
		float: left;
		width: 75%;
	}

	#slideshow {
  margin: 80px auto;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	}

	#slideshow > div {
	  position: absolute;
	  top: 10px;
	  left: 10px;
	  right: 10px;
	  bottom: 10px;
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
		float: right;
		width: 20%;
	}

	#page-links
	{

	}

	#social-links
	{

	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		overflow: hidden;
		padding: 5em 0em;
		text-align: center;
		text-transform: uppercase;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
	}

	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
